body {
    overflow-x: hidden;
}

/* SideBar */

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

/* Separators */

.sidebar-separator-title {
    background-color: #333;
    height: 35px;
}

/* Brands */

.custom-brand {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    color: white;
}


/* HomeBox & Sidebar settings */

.home-box {
    background-color: #FFF;
    box-shadow: 0 0 0.5em dimgray;
    padding-bottom: 14px;
    padding: 10px 14px;
    margin-bottom: 25px;
}

.home-title {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 17px;
    text-transform: uppercase;
    color: black;
}

.section-title {
    font-family: 'Oswald', sans-serif;
}

.section-subcontent:hover {
    text-decoration: none;
    outline: none;
    cursor: pointer;
    background: #8e9aa4;
    transition: background 1s;
}

.section-subcontent {
    background-color: #6c757d;
}

/* Profil */

.table-student-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-student-information > tbody > tr:first-child {
    border-top: 0;
}


.table-student-information > tbody > tr > td {
    border-top: 0;
}
