body {
    overflow-x: hidden;
}

/* SideBar */

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

/* Separators */

.sidebar-separator-title {
    background-color: #333;
    height: 35px;
}

/* Brands */

.custom-brand {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    color: white;
}


/* HomeBox & Sidebar settings */

.home-box {
    background-color: #FFF;
    box-shadow: 0 0 0.5em dimgray;
    padding-bottom: 14px;
    padding: 10px 14px;
    margin-bottom: 25px;
}

.home-title {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 17px;
    text-transform: uppercase;
    color: black;
}

.section-title {
    font-family: 'Oswald', sans-serif;
}

.section-subcontent:hover {
    text-decoration: none;
    outline: none;
    cursor: pointer;
    background: #8e9aa4;
    transition: background 1s;
}

.section-subcontent {
    background-color: #6c757d;
}

/* Profil */

.table-student-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-student-information > tbody > tr:first-child {
    border-top: 0;
}


.table-student-information > tbody > tr > td {
    border-top: 0;
}

.wrap-sendbox {
    border-radius: 30px;
    width: 30%;
    margin-bottom: 10px;
    background-color: #343a40!important;
    position: fixed;
    display: block;
    margin-top: 10px;
    bottom: 0%;
}

.sendbox {
    font-family: Oswald-Medium;
    font-size: 16px;
    color: lightgray;
    line-height: 1.2;
    display: block;
    width: 30%;
    height: 30px;
    border-radius: 31px;
    padding: 0 35px 0 35px;
    outline: none;
}

.color-white {
    color:white;
}

.fastmessagebg {
    background: url('../img/fastmessagebg.jpg') no-repeat center !important;
    background-size: cover !important;
    height: 90%;
}

.author {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    text-decoration: blink;
}

.date {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;

}

.content {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}

.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    width: 100%;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
}

.search_input{
    color: white;
    border: 0;
    outline: 0;
    width: 95%;
    background: none;
    line-height: 40px;
    padding: 0 10px;
    caret-color:#007bff;
}

.searchbar:hover > .search_icon{
    background: white;
    color: #007bff;
}

.search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
}

/* Css page support */

.support-title{
     font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    color: black;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
   font-family: 'Oswald', sans-serif;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
    font-family: 'Oswald', sans-serif;
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
    text-align: center;
}

.accordion:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
  content: "\f107";
  font-size: 16px;
  color: #444;
  float: right;
  margin-left: 5px;

}

.active:after {
  content: '';
}